.bg-cream{
    background-color: #eae7d9;
}
.text-cream{
    color: #eae7d9;
}
.rounded-border-10{
    border-radius: 10px;
}
.form-button{
    color: #eae7d9;
    background: transparent;
	box-shadow: 0px 0px 2.5px 0px #eae7d9;
}
.form-button:active{
    color: #eae7d9;
    background: transparent;
	box-shadow: 0px 0px 7.5px 0px #eae7d9;
}
.form-button:hover{
    color: #eae7d9;
	box-shadow: 0px 0px 7.5px 0px #eae7d9;
}
.form-input-text{
    background: transparent;
    box-shadow: 0px 0px 1.5px 0px #eae7d9;
    border: none;
    color: #eae7d9;
	margin-left: 0;
}
.form-input-text::placeholder{
	color: #eae7d9;
	opacity: 0.5;
}
.form-input-text:focus{
    background: transparent;
    color: #eae7d9;
	box-shadow: 0px 0px 10px 0px #eae7d9;
}
.is-invalid{
    box-shadow: 0px 0px 10px 0px black;
}
.invalid-feedback{
    color: #eae7d9;
}
.form-label-text{
    font-size: large;
}